@media(min-width:768px) and (max-width:991px){
    .left-header .btn-feature{
        margin-left: 0px;
        margin-top: 10px;
    }
    .h-b {
        padding: 60px 0;
    }
    .featue-d p{
        font-size: 16px;
    }
    .form-c {
        width: 80%;
    }
    .left-header h1 {
        font-size: 43px;
    }
}
@media(min-width:0px) and (max-width:767px) {
    .left-header .btn-feature{
        margin-left: 10px;
        margin-top: 0px;
    }
    .navbar-nav{
        text-align: center;
    }
    .main-menu ul li a{
    display: inline-block;   
    }
    .main-menu ul li{
        margin-bottom: 5px;
    }
    .featue-d {
        margin-bottom: 30px;
    }
    .btn-r {
        justify-content: center;
        margin-top: 30px;
    }
    .form-c {
        width: 70%;
    }
    
    .sb-btn {
        text-align: center;
    }
}
@media(min-width:0px) and (max-width:575px) {
    .phone{
        display: none;
    }
    .left-header{
        text-align: center;
    }
    
    
    .theme h1{
        text-align: center;
    }
    .price{
        margin-bottom: 30px;
    }
    .map iframe{
        height: 500px;
    }
    .contact-d {
        margin-bottom: 40px;
    }
}
@media(min-width:0px) and (max-width:425px){
    .left-header .btn-feature {
         margin-left: 10px;
         margin-top: 0px;
    }
    .footer p{
        
font-size: 15px;
    }
    .icon-footer ul i {
        font-size: 15px;
    }
}
@media(min-width:0px) and (max-width:390px){
    .left-header .btn-feature {
        margin-left: 0px;
   }
}
@media(min-width:0px) and (max-width:385px){
    .theme .btn-down{
        
font-size: 12px;
    }
    .theme .btn-feature{

font-size: 12px;

}
@media(min-width:0px) and (max-width:380px){
    .left-header .btn-feature {
        margin-left: 0px;
        margin-top: 10px;
   }
}
}
@media(min-width:0px) and (max-width:354px){
    .theme .btn-down{
        
        font-size: 10px;
            }
            .theme .btn-feature{
        
        font-size: 10px;
        
        }
}
@media(min-width:0px) and (max-width:375px){
    .form-c form input[type="submit"] {
        font-size: 14px;
    }
   .testimonials p{
       font-size: 14px;
   }
   .left-header h1 {
    font-size: 35px;
}
.left-header .btn-feature {
    margin-left: 0px;
}
.h-b {
    padding-bottom: 60px;
}
}
@media(min-width:0px) and (max-width:370px){
    .left-header .btn-feature {
        margin-left: 0px;
        margin-top: 10px;
    }
}
@media(min-width:0px) and (max-width:325px){
    .theme .btn-down{
        
        font-size: 9px;
            }
            .theme .btn-feature{
        
        font-size: 9px;
        
        }
}
@media(min-width:0px) and (max-width:320px){
.left-header .btn-feature{
    margin-top: 10px;
}
.theme .btn-down{
        
    font-size: 9px;
        }
        .theme .btn-feature{
    
    font-size: 9px;
    
    }
}